app-s-dashboard {
   width: 100%;
  display: block;
}
:host {
  display: flex;
}

app-sidebar {
  position: fixed;
  width: 256px;
  height: 100vh;
  z-index: 1000;
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}

.main-content {
  margin-left: 256px;
  padding: 20px;
  width: 100%;
  min-height: 100vh;
  background-color: #f9f9f9;
}
