<!-- <div class="d-flex" style="min-height: 100vh;"> -->
<app-sidebar (componentChanged)="onComponentChanged($event)"></app-sidebar>
<div class="main-content">
  <!-- <router-outlet></router-outlet> -->
   @if(selectedComponent === 'sdashboard') {
    <app-s-dashboard></app-s-dashboard>
   }
   @if(selectedComponent === 'sresults') {
    <app-s-results></app-s-results>
   }
    @if(selectedComponent === 'profile') {
      <app-profile></app-profile>
    }
    <!-- @if(selectedComponent === 'logout') {

    } -->
</div>
<!-- <app-s-dashboard></app-s-dashboard> -->
<!-- </div> -->
